body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
  justify-content: center
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-blue-grey: #1f2a4b;
  --cool-grey: #9ea3b2;
  --silver: #d7dae0;
}


.todo {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.App {
  width: 440px;
  padding: 35px 30px;
  background-color: #fff;
  margin-top: 10vh;
  border-radius: 5px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  vertical-align: middle
}